.navbar {
background-color: #931a25;
}

.bmo:hover {
background:url(images/general/sitemap.jpg);
background-size: contain;
}

a:hover {
color: #931a25;
}

.text-part{
background-color: #e84545;
}

img {
height: 300px;
width: 600px;
}

.portrait {
width: 300px;
height: 400px;
}

html {
scroll-behavior: smooth;
background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/activity6/background.jpg) no-repeat center fixed;
background-size: cover;
}