.navbar {
background-color: #931a25;
}

.nav {

}
.header {
width: 150px;
overflow: hidden;
}

li {
list-style: none;
}

a:hover {
color: #931a25;
}

.section-area {
background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/general/section-twinkle.gif) center fixed;
background-size: contain;
}

.section-area h1 {
    text-shadow: 2px 3px 20px #931a25;
    color: #fff;
    }    

.text-part{
background-color: #e84545;
}

img {
height: 200px;
width: 200px;
}

html {
scroll-behavior: smooth;
background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/activity1/facebook.jpg) no-repeat center fixed;
background-size: cover;
}