@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@700&family=Source+Sans+Pro&display=swap');
body {
margin: 0;
padding: 0;
font-family: 'Roboto Slab', serif;
color: #fff
}

.navbar {
position: fixed;
display: flex;
align-items: center;
width: 100%;
height: 100px;
z-index: 1;
background-color: #333;
}

.nav {
display: flex;
width: 60%;
justify-content: space-between;
list-style: none;
margin-right: 15%;
}

.nav li a{
margin-right: 15px;
font-size: 24px;
text-decoration: none;
color: #fff;
}

.nav li a:hover {
text-decoration: underline;
}

.logo-shape {
margin-left: 15px;
  border-radius: 15px;
  background-color: #4ab8a7;
  width: 70px;
  height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
}

.bmo {
border-radius: 10px;
width: 50px;
height: 50px;
background:url(images/general/bmo.JPG);
background-size: contain;
}

.bmo:hover {
background:url(images/general/sitemap.jpg);
background-size: contain;
}

.logo {
margin-left: 28%;
color: #fff;
padding: 17px;
text-decoration: none;
}

.logo:hover {
cursor: pointer;
background-color: #fff;
color: #333;
}

.banner-area {
position: relative;
width: 100%;
height: 100vh;
}

/* text in banner */
.banner-text {
font-family: 'Pacifico', cursive;
line-spacing: 1px;
font-size: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* outer containers */
.text-area {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
left: 10%;
width: 80%;
height: 700px;
}

.activity-area, .guidequestions-area, .reflection-area, .learnings-area, .aboutme-area {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
left: 10%;
width: 80%;
height: 700px;
}

.activity-area {
background-color: #931a25;
}

.guidequestions-area {
background-color: #3b105c;
}

.reflection-area {
background-color: #105c3b;
}

.learnings-area {
background-color: #10315c;
}

.aboutme-area {
background-color: #4ab8a7;
}

/* text container to set text margin */
.text-part{
text-align: center;
padding: 20px;
width: 40%;
height: 40%;
}

.disclaimer-part p{
font-family: calibri;
font-size: 20px;
line-height: 25px;
}

.disclaimer-area {
background-color: #333;
}

/* headers of each outer container */
h1 {
font-size: 50px;
}

h2 {
font-size: 70px;
}

h3 {
font-family: calibri;
font size: 10px;
font-style: italic;
color: #D3D3D3;
}

p {
font-family: 'Source Sans Pro', sans-serif;
font-size: 24px;
line-height: 25px;
padding: 10px;
}

button {
  background-color: #fff;
  border: none;
border-radius: 15px;
  color: #333;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

button:hover {
  text-decoration: underline;
}

html {
scroll-behavior: smooth;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/general/background.gif);
}
  