@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@700&family=Source+Sans+Pro&display=swap');
body {
margin: 0;
padding: 0;
font-family: 'Roboto Slab', serif;
color: #fff
}

.navbar {
position: fixed;
display: flex;
align-items: center;
width: 100%;
height: 100px;
z-index: 1;
background-color: #105c3b;
}

.nav {
display: flex;
width: 55%;
justify-content: space-between;
list-style: none;
margin-right: 15%;
}

.nav li a, .nav li{
margin-right: 15px;
font-size: 24px;
text-decoration: none;
color: #fff;
}

.nav li a:hover {
text-decoration: underline;
}

.logo-shape {
margin-left: 15px;
  border-radius: 15px;
  background-color: #4ab8a7;
  width: 70px;
  height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
}

.bmo {
border-radius: 10px;
width: 50px;
height: 50px;
background:url(images/general/bmo.JPG);
background-size: contain;
}

.bmo:hover {
background:url(images/general/sitemap.jpg);
background-size: contain;
}

.logo {
margin-left: 68%;
color: #fff;
padding: 17px;
text-decoration: none;
}

.logo:hover {
cursor: pointer;
background-color: #fff;
color: #105c3b;
}

.banner-area {
position: relative;
width: 100%;
height: 70vh;
}

/* text in banner */
.banner-text {
font-family: 'Pacifico', cursive;
line-spacing: 1px;
font-size: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayarea {
margin-top: 
color: #fff;
}

.displayarea .cards {
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
list-style: none;
}

.displayarea .cards li {
  border-radius: 15px;
  background: #20b776;
  margin: 3px;
padding: 15px;
display: flex;
justify-content: left;
align-items: center;
  width: 60%;
  height: 50px;
line-spacing: 12px;
}

.displayarea .cards .ref1:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection1/background.jpg) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards .ref2:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection2/background.jpg) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards .ref3:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection3/background.jpg) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards .ref4:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection4/background.gif) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards .ref5:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection5/background.jpg) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards .ref6:hover {
box-shadow: 0px 10px 10px #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/reflection6/background.jpg) no-repeat center fixed;
background-size: contain;
}

.displayarea .cards li a{
text-decoration: none;
color: #fff;
}

/* headers of each outer container */
h1 {
font-size: 50px;
}

h2 {
font-size: 70px;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
font-size: 24px;
}

p {
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
line-height: 25px;
}

html {
scroll-behavior: smooth;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/general/reflections.gif);
}