table{
border-spacing: 0px;
}

th, td {
height: 50px;
width: 70px;
text-align: center;
}

a {
text-decoration: none;
color: #fff;
}

a:hover {
color: black;
}

.home:hover {
background-color: #fff;
box-shadow: 0px 10px 10px #aaa;
}

.activities:hover {
background-color: #e84545;
box-shadow: 0px 10px 10px #aaa;
}

.reflections:hover {
background-color: #20b776;
box-shadow: 0px 10px 10px #aaa;
}

.learnings:hover {
background-color: #7fade9;
box-shadow: 0px 10px 10px #aaa;
}

.guidequestions:hover {
background-color: #8675a9;
box-shadow: 0px 10px 10px #aaa;
}

.aboutme:hover {
background-color: #d2fce4;
box-shadow: 0px 10px 10px #aaa;
}

.home, .activities, .reflections, .learnings, .guidequestions, .aboutme {
  border: 1px solid none;
border-radius:8px;
}

.home {
background-color: #333;
}

.activities {
background-color: #931a25;
}

.reflections {
background-color: #105c3b;
}

.learnings {
background-color: #10315c;
}

.guidequestions {
background-color: #3b105c;
}

.aboutme {
background-color: #4ab8a7;
}

.borderlinebottomright {
border-bottom: 3px solid white;
border-right: 3px solid white;
}

.borderlinebottom {
border-bottom: 3px solid white;
}

.borderlineright {
border-right: 3px solid white;
}

html {
scroll-behavior: smooth;
background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/general/bmore.jpg);
}